.modal {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(20, 20, 20, 0.8);

  border: 2px solid #9c0000;
  outline: 4px solid #ff00003d;
/* 
  display: flex; */

  flex-direction: column;

  align-items: center;
  justify-content: center;

  z-index: 999;

  background-color: #ff00003d;
  color: #fff;

  padding: 2rem;

  border-radius: 12px;

  text-align: center;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  
  width: auto;
  height: auto;
}

.modal p {
  font-size: 1.1rem;

  margin-bottom: 1.5rem;
}

.buttons {
  width: 100%;

  display: flex;

  justify-content: space-around;

  gap: 1rem;
}

.buttons button {
  font-size: 14px;
  font-weight: 600;

  padding: 8px 16px;
  width: 50%;

  border-radius: 8px;
  border: 1px solid transparent;

  color: #fff;

  /* transition: all 0.2s ease-in-out; */
}

.buttons button:nth-child(1) {
  border: 2px solid green;
  background-color: rgba(0, 125, 0, 0.25);
}

.buttons button:nth-child(1):focus {
    outline: 4px solid rgba(0, 125, 0, 0.247);
}

.buttons button:nth-child(2) {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.25);
}

.buttons button:nth-child(2):focus {
    outline: 4px solid rgba(255, 0, 0, 0.247);
}

.buttons button:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
